*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}


.contene{
    width: 100%;
    background-color:violet;
    height: 100px;
}


.titulito{
    margin-left: 20px;
   padding-top:20px;
}

.calendariro{
    margin-top:100px;
   margin-left: 5%;
   margin-right: 5%;
}

.calendari{

text-align: center;
width: 90%;
border:1px solid black;
border-collapse: collapse;
}

.calendari td{
    border:1px solid black;
}
.calendari tr{
    border:1px solid black; 
}

td{
    width: 13%;
    background-color: white;
}
td:hover{
    width: 13%;
    background-color:greenyellow;
}

